
$primary-color: #253237;
$secondary-color: #4fb68d;
$border-color: #ebebeb;
$container: 144rem;
$wrapper: 192rem;

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

*, 
*:before,
*:after {
    box-sizing: border-box;
}


.contai {
    max-width: $container;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
}

.wrapper {
    max-width: $wrapper;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none !important;
    color: $primary-color;
}


.navAdmin {
    .navbar-brand {
        font-size: 1.6rem;
    }
    .nav-link {
        font-size: 1rem ;
        color: $primary-color !important;
        margin: 0 .5rem;
    }
}

.admin__title {
    font-size: 1.5rem;
    font-weight: 600;
}


.boxAdmin {
    padding: 1.5rem 1rem;
}

.box {
    max-width: 100%;
    margin: 2rem auto;
}

.box__bill {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.bill {
    padding: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

    &__id {
        color: rgb(152, 152, 152);
        margin-left: 5px;
        font-weight: 600;
    }

    & img {
        width: 45px;
        height: 45px;
        display: inline-block;

        border-radius: 50%;
    }

    .small-14 {
        font-size: 14px;
        font-weight: 600;
        color: #989fa7;
    }

    .status {
        font-size: 12px;
        padding: 2px 8px;
        border-radius: 8px;
        color: #fff;
    }

    .pedding {
        background-color: #989fa7;
    }

    .finish {
        background-color: #00e75d;
    }

    .cancel {
        background-color: #f00;
    }

    .view__bill {
        font-size: 13px;
        color: $primary-color;
    }
}

.viewBill {
    &__info {
        display: flex;

        img {
            width: 160px;
            height: 190px;
        }

        &-right {
            margin-left: 15px;

            p {
                margin-bottom: 10px;

                span {
                    font-weight: 700;
                }
            }
        }
    }

    .total-amount {
        font-size: 17px;
        color: #f00;
        font-weight: 700;
    }
}



.box--maxWidth {
    max-width: 900px;
    margin: 2rem auto;
}



.table_category {
    text-align: center;

    img {
        width: 25rem;
        height: auto;
        margin: 0 auto;
    }
}

.fa-trash-alt {
    color: #f00;
}

.fa-edit {
    color: rgb(22, 93, 235);
    margin-right: 5px;
}


.table__product {
    img {
        width: 3rem;
        height: 3.7rem;
        display: inline-block;
        margin: 0 3px;
    }
}


.badges {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f00;

    margin: 10px auto;

    
}

.success {
    background-color: $secondary-color !important;
}


.table_member {
    img {
        display: inline-block;
        margin-right: 10px;

        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .status {
        display: inline-block;
        padding: 2px 5px;

        font-size: 12px;
        background-color: $secondary-color;
        color: #fff;

        border-radius: 5px;
        cursor: pointer;
    }

    .disable {
        background-color: #f00;
    }

    .img_product {
        border-radius: none;
    }
}

.table_bill {
    margin-top: 1rem;

    img {
        border-radius: 0 !important;
        width: 45px;
        height: 50px;
    }
}


// Chi tiết người dùng
.table__detail-member {
    img {
        width: 50px;
        height: 50px;
        margin-right: 0.5rem;
        display: inline-block;
    }
}

.detail-member {
    padding-top: 30px;

    img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        margin: 0 auto;
    }

    &-name {
        font-size: 20px;
        font-weight: 600;
        margin: 10px 0 15px;

        text-align: center;
    }

    p{
        text-align: center;
        margin-bottom: 10px;
    }
}


.switch{
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 21px;
    background-color: #c2c2c2;
    border-radius: 30px;
    border: 1px solid #a4a3a3;
    outline: none;
    position: relative;
    transition: 200ms;
}

.switch:checked {
    background-color: mediumseagreen;
    border: 1px solid mediumseagreen;
}

.switch:before{
    position: absolute;
    content: '';
    width: 19px;
    height: 19px;
    background-color: #fff;
    border-radius: 50%;
    top: 0;
    left: 0;
    transition: 200ms;
}

.switch:checked:before {
    left: 19px;
}

// Custom swal2
.swal2-popup {
    padding: 1em;
}

.swal2-header {
    padding: 0;
}

.swal2-styled.swal2-confirm, .swal2-styled.swal2-cancel {
    font-size: .95em;
}

.swal2-styled {
    padding: .6em 1.8em;
}

.swal2-title {
    color: #424242;
    font-size: 1.8em;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}

.swal2-actions:not(.swal2-loading) .swal2-styled:active {
    background-image: none;
}

.swal2-styled:focus {
    box-shadow: none;
}