@import '_setup';

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 5px;
    
}

::-webkit-scrollbar-thumb {
    background-color: #676767;
    border-radius: 10px;
}

/* Nav */
.nav__top {
    display: flex;
    justify-content: space-between;

    padding: 10px;

    background-color: $primary-color;
    color: #fff;
    font-size: 1.5rem;

    &-right {
        display: flex;
    }

    &-item {
        display: flex;
        align-self: center;

        margin: 0 10px;

        & a {
            font-size: 1.3rem;
            color: #fff;
            padding-left: .5rem;
            transition: linear .3s;
        }

        & a:hover {
            color: $secondary-color;
        }
    }
}

.nav__logo a{
    padding-left: 2rem;

    color: $primary-color;

    font-weight: 900;
    font-size: 3.7rem;
}

.nav__bottom {
    display: grid;
    grid-template-columns: 180px 1fr 1fr;
    align-items: center;

    background-color: #fff;

    padding: 2rem 1rem;
    z-index: 10;

    .nav__list ul{
        display: flex;
        justify-content: center;

        padding: 0;
        margin: 0;

        list-style: none;
    }

    .nav__item {
        margin-left: 3.8rem;

        &:first-child {
            margin-left: 0;
        }

        .nav__link {
            font-size: 1.5rem;

            font: {
                weight: 700;
            }
        }
    }

    &-item {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;

        & i {
            font-size: 2rem;
        }

        .nav__search {
            display: grid;
            grid-template-columns: 1fr 7rem;
            align-items: center;

            .nav__box-search {
                padding: 0 1rem;

                & form {
                    display: none;
                }
            }


            .nav__box-search input{
                width: 100%;
                padding: .5rem 1rem;

                font-size: 1.5rem;

                border-radius: .5rem;
                background: none;
                outline: none;
                border: 1.5px solid $secondary-color;
            }
        }

        .nav__cart {
            position: relative;

            display: flex;
            align-items: center;

            padding: .5rem 0 1rem;

            &-icon {
                position: relative;

                cursor: pointer;

                i {
                    font-size: 2.5rem;
                }

                .number-cart {
                    position: absolute;
                    @include center;
                    
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    font-weight: 600;

                    color: #fff;
                    background-color: $secondary-color;

                    bottom: -0.4rem;
                    right: -1.4rem;
                }
            }

            .cart__amount {
                padding-left: 1rem;
                font-size: 1.5rem;
                font-weight: 700;
                cursor: pointer;
            }


            &-mini {
                position: absolute;
                right: 10px;
                top: 100%;
                left: auto;

                width: 31rem;
                z-index: 30;

                display: none;
                cursor: pointer;

                .cart__mini-content {
                    padding: 2rem 1rem;
                    background-color: #fff;
                    box-shadow: 0 0 3.76px 0.24px rgba(0,0,0,.15);

                    .cart__mini-product {
                        max-height: 25rem;
                        overflow-y: auto;
                        padding-right: 1rem;
                        margin-bottom: 1rem;
                    }

                    .cart__mini-checkout {
                        display: flex;
                        justify-content: space-between;

                        padding: 0 1rem;

                        p {
                            font-size: 1.35rem;
                            color: #555;
                        }
                    }
                }

                
               
            }
        }
        
    }

    & a {
        color: #000;
        transition: linear .3s;
    }

    & a:hover {
        color: $secondary-color;
    }

    @media screen and (max-width: 876px) {
        & {
            grid-template-columns: 180px 1fr;

            .nav__logo a{
                font-size: 2.9rem;
                padding-left: 0;
            }

            .nav__bottom-item {
                grid-template-columns: auto 50px;
            }

            .nav__search {
                display: none;
            }

            .nav__cart {
                justify-content: flex-end;
            }

            .menu-toggle {
                text-align: right;

                i {
                    cursor: pointer;
                    font-size: 2.6rem;
                    display: inline-block;
                }
            }
        }
    }
}


@keyframes fadeInDown {
    from {
        top: -65px;
    }
    to {
        top: 0;
    }
  }

.scroll-down {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    padding: .8rem 1rem;
    border-bottom: 1px solid $border-color;

    background-color: rgba(255, 255, 255, 0.945);

    animation-name: fadeInDown;
    animation-duration: 1s;
}



.dropdown-item {
    color: #000 !important;
    font-size: 1.4rem !important;
    
    &-danger {
        color: #f00 !important;
    }
}


/* Header */
header {
    height: 100vh;
    img {
        width: 100%;
    }
}

.section {
    height: 500px;
}

/* language-area */
.language-area {
    & ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
            display: flex;
            align-items: center;

            a {
                color: #fff;
            }
        }

        img {
            width: 18px;
            margin-right: 5px;
        }
    }

    &>ul>li {
        position: relative;
    }

    &-sub {
        position: absolute;
        opacity: 0;
        background-color: #fff;
        box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
        left: 0;
        top: 120%;
        text-align: left;
        width: 120px;
        transition: all 0.3s ease 0s;
        visibility: hidden;
        padding: 7px 10px 10px;

        a {
            font-size: 1.5rem !important;
            color: #000 !important;
        }
    }

    &>ul>li:hover &-sub{
        opacity: 1;
        visibility: visible;
    } 

    a {
        transition: linear 0.3s;

        &:hover {
            color: $secondary-color !important;
        }   
    }
    
}







