@import '_setup';

.notification {
    width: 300px;
    margin-top: 1.6rem;

    & ul {
        padding: 0;
        margin-bottom: 0;
        list-style: none;

        .drop-title {
            display: flex;
            justify-content: space-between;

            font-weight: 500;
            padding: 11px 15px;
            border-bottom: 1px solid #e9ecef;
            font-size: 1.4rem;
        }

        .message-center {
            max-height: 300px;
            overflow-y: auto;
            position: relative;

            & a {
                display: flex;
                align-items: center;

                border-bottom: 1px solid #e9ecef;
                text-decoration: none;
                padding: 9px 13px;
                font-size: 1.33rem;

                &.unread {
                    color: $secondary-color;
                }

                &:hover {
                    color: #000;
                }

                .btn-circle {
                    border-radius: 100%;
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                }

                & .mail-content {
                    display: inline-block;
                    width: 82%;
                    padding-left: 10px;
                    vertical-align: middle;

                    h5 {
                        font-size: 1.5rem;
                        font-weight: 600;

                        overflow: hidden;
                        width: 100%;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                    & .mail-desc {
                        overflow: hidden;
                        width: 100%;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                    & .time {
                        display: block;
                        margin: 1px 0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        color: #212529;
                        white-space: nowrap;
                    }
                }
            }
        }

        .readed {
            display: flex;
            justify-content: center;
            align-items: center;

            border-top: 1px solid #e9ecef;
            padding-top: 10px;
            padding-bottom: 8px;
            color: #212529;

            strong {
                font-weight: 600;
                font-size: 1.3rem;
                margin-right: .5rem;
            }

            i {
                font-size: 1.9rem;
            }
        }
    }
}