body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.contai {
  max-width: 144rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

.wrapper {
  max-width: 192rem;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none !important;
  color: #253237;
}

.navAdmin .navbar-brand {
  font-size: 1.6rem;
}

.navAdmin .nav-link {
  font-size: 1rem;
  color: #253237 !important;
  margin: 0 0.5rem;
}

.admin__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.boxAdmin {
  padding: 1.5rem 1rem;
}

.box {
  max-width: 100%;
  margin: 2rem auto;
}

.box__bill {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.bill {
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.bill__id {
  color: #989898;
  margin-left: 5px;
  font-weight: 600;
}

.bill img {
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 50%;
}

.bill .small-14 {
  font-size: 14px;
  font-weight: 600;
  color: #989fa7;
}

.bill .status {
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 8px;
  color: #fff;
}

.bill .pedding {
  background-color: #989fa7;
}

.bill .finish {
  background-color: #00e75d;
}

.bill .cancel {
  background-color: #f00;
}

.bill .view__bill {
  font-size: 13px;
  color: #253237;
}

.viewBill table tr th {
  font-weight: 700;
}

.viewBill__info {
  display: flex;
}

.viewBill__info img {
  width: 160px;
  height: 190px;
}

.viewBill__info-right {
  margin-left: 15px;
}

.viewBill__info-right p {
  margin-bottom: 8px;
  font-size: 15.7px;
}

.viewBill__info-right p span {
  font-weight: 700;
}

.viewBill .total-amount {
  font-size: 17px;
  color: #f00;
  font-weight: 700;
}

.box--maxWidth {
  max-width: 900px;
  margin: 2rem auto;
}

.table_category {
  text-align: center;
}

.table_category img {
  width: 25rem;
  height: auto;
  margin: 0 auto;
}

.fa-trash-alt {
  color: #f00;
}

.fa-edit {
  color: #165deb;
  margin-right: 5px;
}

.table__product img {
  width: 3rem;
  height: 3.7rem;
  display: inline-block;
  margin: 0 3px;
}

.badges {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f00;
  margin: 10px auto;
}

.success {
  background-color: #4fb68d !important;
}

.table_member img {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.table_member .status {
  display: inline-block;
  padding: 2px 5px;
  font-size: 12px;
  background-color: #4fb68d;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.table_member .disable {
  background-color: #f00;
}

.table_member .img_product {
  border-radius: none;
}

.table_bill {
  margin-top: 1rem;
}

.table_bill img {
  border-radius: 0 !important;
  width: 45px;
  height: 50px;
}

.table__detail-member img {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
  display: inline-block;
}

.detail-member {
  padding-top: 30px;
}

.detail-member img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 0 auto;
}

.detail-member-name {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 15px;
  text-align: center;
}

.detail-member p {
  text-align: center;
  margin-bottom: 10px;
}

.switch {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 40px;
  height: 21px;
  background-color: #c2c2c2;
  border-radius: 30px;
  border: 1px solid #a4a3a3;
  outline: none;
  position: relative;
  transition: 200ms;
}

.switch:checked {
  background-color: mediumseagreen;
  border: 1px solid mediumseagreen;
}

.switch:before {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  background-color: #fff;
  border-radius: 50%;
  top: 0;
  left: 0;
  transition: 200ms;
}

.switch:checked:before {
  left: 19px;
}

.swal2-popup {
  padding: 1em;
}

.swal2-header {
  padding: 0;
}

.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel {
  font-size: 0.95em;
}

.swal2-styled {
  padding: 0.6em 1.8em;
}

.swal2-title {
  color: #424242;
  font-size: 1.8em;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}

.swal2-actions:not(.swal2-loading) .swal2-styled:active {
  background-image: none;
}

.swal2-styled:focus {
  box-shadow: none;
}

@media (min-width: 1200px) {
  .modal-lg,
  .modal-xl {
    max-width: 1100px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    margin: 4.75rem auto;
  }
}

.notification {
  width: 300px;
}

.notification ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

.notification ul .drop-title {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  padding: 11px 15px;
  border-bottom: 1px solid #e9ecef;
  font-size: 15px;
}

.notification ul .message-center {
  max-height: 300px;
  overflow-y: auto !important;
  position: relative;
}

.notification ul .message-center::-webkit-scrollbar {
  width: 5px;
}

.notification ul .message-center::-webkit-scrollbar-thumb {
  background-color: #676767;
  border-radius: 10px;
}

.notification ul .message-center a {
  display: flex !important;
  align-items: center;
  border-bottom: 1px solid #e9ecef;
  text-decoration: none;
  padding: 9px 13px;
  font-size: 14px !important;
}

.notification ul .message-center a.unread h5,
.notification ul .message-center a.unread .mail-desc {
  color: #4fb68d !important;
}

.notification ul .message-center a:hover {
  color: #000;
}

.notification ul .message-center a .btn-circle {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  padding: 0;
}

.notification ul .message-center a .btn-circle img {
  width: 100%;
  height: 100%;
}

.notification ul .message-center a .mail-content {
  display: inline-block;
  width: 82%;
  padding-left: 10px;
  vertical-align: middle;
}

.notification ul .message-center a .mail-content h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.notification ul .message-center a .mail-content .mail-desc {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 15px !important;
}

.notification ul .message-center a .mail-content .time {
  display: block;
  margin: 1px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #212529;
  white-space: nowrap;
}

.notification ul .readed {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e9ecef;
  padding-top: 10px;
  padding-bottom: 8px;
  color: #212529;
}

.notification ul .readed strong {
  font-weight: 600;
  font-size: 14px;
  margin-right: 5px;
}

.notification ul .readed i {
  font-size: 19px;
}

.news-image {
  width: 250px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-news {
  width: 100%;
}

.img-news img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-news {
  max-width: 95%;
  margin: 20px auto 10px;
  width: 100%;
  text-align: justify;
  font-size: 15.6px;
}

.content-news img {
  width: 100% !important;
  height: auto !important;
}

.form-group {
  margin-bottom: 15px;
}

#cke_1_contents {
  min-height: 400px !important;
}

