html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.contai {
  max-width: 144rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

.contain-news {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none !important;
  color: #253237;
}

@media (min-width: 768px) {
  .ml-md-45 {
    margin-left: 1.7rem !important;
  }
}

.notification {
  width: 300px;
  margin-top: 1.6rem;
}

.notification ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

.notification ul .drop-title {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  padding: 11px 15px;
  border-bottom: 1px solid #e9ecef;
  font-size: 1.4rem;
}

.notification ul .message-center {
  max-height: 300px;
  overflow-y: auto;
  position: relative;
}

.notification ul .message-center a {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e9ecef;
  text-decoration: none;
  padding: 9px 13px;
  font-size: 1.33rem;
}

.notification ul .message-center a.unread {
  color: #4fb68d;
}

.notification ul .message-center a:hover {
  color: #000;
}

.notification ul .message-center a .btn-circle {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.notification ul .message-center a .mail-content {
  display: inline-block;
  width: 82%;
  padding-left: 10px;
  vertical-align: middle;
}

.notification ul .message-center a .mail-content h5 {
  font-size: 1.5rem;
  font-weight: 600;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.notification ul .message-center a .mail-content .mail-desc {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.notification ul .message-center a .mail-content .time {
  display: block;
  margin: 1px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #212529;
  white-space: nowrap;
}

.notification ul .readed {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e9ecef;
  padding-top: 10px;
  padding-bottom: 8px;
  color: #212529;
}

.notification ul .readed strong {
  font-weight: 600;
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.notification ul .readed i {
  font-size: 1.9rem;
}

